.buttonSpaced {
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  padding-top: 75px;
  width: 60%;
}

.instagramButton {
  background-color: #c7923e;
  border: none;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.005em;
  line-height: 19.2px;
  min-height: 56px;
  min-width: 171px;
  padding: 18px 24px;
  transition: 0.5s;
}

.instagramButton:hover {
  transform: translateY(-10px);
}

.GalleryStyles {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .buttonSpaced {
    justify-content: center;
    width: 100%;
  }
}
