.displayCards__container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 34px 17px;
  justify-content: center;
  margin: 95px auto;
  padding: 0 15.6rem;
  width: 100%;
}

.displayCards_items {
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: 584px;
  justify-content: space-between;
  min-width: 350px;
  padding-bottom: 25px;
  width: 25%;
}

.displayCards_image_text img {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  height: 310px;
  width: 350px;
}

.displayCards_image_text {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 100%;
}

.displayCards_image_text h2 {
  color: #11142d;
  font-family: Lora;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.005em;
  line-height: 28.8px;
  margin-bottom: -3px;
  padding: 10px 14px 0 14px;
  width: 100%;
}

.displayCards_image_text p {
  box-sizing: border-box;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.005em;
  line-height: 20px;
  padding: 0 14px;
  width: 82%;
}

.displayCards_items button {
  background: #c7923e;
  border: none;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 500;
  height: 58px;
  margin: 0 14px;
  width: 120px;
}

@media screen and (max-width: 1050px) {
  .displayCards__container {
    padding: 0 1.5rem;
  }
}

@media screen and (max-width: 650px) {
  .displayCards__container {
    margin: 25px auto;
    width: 85%;
    padding: 0 12rem;
  }

  .displayCards_items {
    width: 400px;
    height: 584px;
  }
}
